# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependencies
/vendor/
/node_modules/

# Build artifacts
/build/
/dist/

# Logs
*.log

# Composer
composer.phar
