# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependencies
/vendor/
/node_modules/

# Build artifacts
/build/
/dist/

# Logs
*.log

# PHPUnit
.phpunit.result.cache

# wp-env
.wp-env.override.json

# Composer
composer.phar
